<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started: pagination</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"></link>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="/starter/js/jquery.spring-friendly.min.js"></script>
    <script src="/starter/js/pagination.js"></script>
  </head>
  <body>
    <table id="pagination" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Named Insured</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
  </body>
</html>